n8n-workflows/SW-00C-Brief-Decision-Extractor-Agent.json
{
  "name": "SW-00C Brief Decision Extractor Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "df9d98e0-7c2d-406f-95ce-9241eeed1997",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "function asArray(value) {\n  if (!value) return [];\n  return Array.isArray(value) ? value : [value];\n}\nfunction pick(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null) return value;\n  }\n  return null;\n}\nfunction toBool(value) {\n  return value === true || value === 'true';\n}\nfunction compactMessages(messages) {\n  return asArray(messages).slice(-10).map(m => ({\n    sender: String(m.sender ?? ''),\n    message_text: String(m.message_text ?? m.text ?? ''),\n    message_type: String(m.message_type ?? 'text'),\n    created_at: m.created_at ?? null\n  }));\n}\nfunction compactPromptRequests(rows) {\n  return asArray(rows).slice(0, 5).map(r => ({\n    id: r.id ?? null,\n    raw_input: r.raw_input ?? null,\n    normalized_brief: r.normalized_brief ?? null,\n    output_type: r.output_type ?? null,\n    platform: r.platform ?? null,\n    status: r.status ?? null,\n    created_at: r.created_at ?? null\n  }));\n}\nconst raw = $json || {};\nconst inputObject = raw.input && typeof raw.input === 'object' ? raw.input : {};\nconst normalizedSource = raw.normalized_input\n  || raw.normalizedInput\n  || raw.sw00a_result\n  || raw.sw00aResult\n  || inputObject.normalized_input\n  || inputObject.sw00a_result\n  || inputObject\n  || raw;\nconst routerSource = raw.router_result\n  || raw.routerResult\n  || raw.sw00b_result\n  || raw.sw00bResult\n  || inputObject.router_result\n  || inputObject.sw00b_result\n  || raw;\nconst normalized_input = {\n  detected_language: String(pick(normalizedSource.detected_language, raw.detected_language, 'other')),\n  reply_language: String(pick(normalizedSource.reply_language, raw.reply_language, 'other')),\n  raw_input: String(pick(normalizedSource.raw_input, raw.raw_input, raw.message_text, raw.chatInput, '')),\n  normalized_english_input: String(pick(normalizedSource.normalized_english_input, raw.normalized_english_input, '')),\n  message_summary_english: String(pick(normalizedSource.message_summary_english, raw.message_summary_english, '')),\n  is_empty_or_noise: toBool(pick(normalizedSource.is_empty_or_noise, raw.is_empty_or_noise, false)),\n  normalization_status: String(pick(normalizedSource.normalization_status, raw.normalization_status, 'success')),\n  normalization_error: pick(normalizedSource.normalization_error, raw.normalization_error, null)\n};\nconst router_result = {\n  intent: String(pick(routerSource.intent, raw.intent, 'unsupported')),\n  route: String(pick(routerSource.route, raw.route, 'unsupported')),\n  confidence: Number(pick(routerSource.confidence, raw.confidence, 0)),\n  needs_prompt_request: toBool(pick(routerSource.needs_prompt_request, raw.needs_prompt_request, false)),\n  needs_media_processing: toBool(pick(routerSource.needs_media_processing, raw.needs_media_processing, false)),\n  needs_clarification: toBool(pick(routerSource.needs_clarification, raw.needs_clarification, false)),\n  reasoning_summary: String(pick(routerSource.reasoning_summary, raw.reasoning_summary, '')),\n  unsupported_reason: pick(routerSource.unsupported_reason, raw.unsupported_reason, null)\n};\nconst attachmentsSource = pick(\n  raw.attachments_summary,\n  raw.attachmentsSummary,\n  normalizedSource.attachments_summary,\n  normalizedSource.attachmentsSummary,\n  inputObject.attachments_summary,\n  raw.media,\n  {}\n);\nconst attachments_summary = {\n  has_attachments: toBool(attachmentsSource.has_attachments ?? attachmentsSource.hasAttachments ?? false),\n  attachment_count: Number(attachmentsSource.attachment_count ?? attachmentsSource.attachmentCount ?? 0),\n  attachment_kinds: asArray(attachmentsSource.attachment_kinds ?? attachmentsSource.attachmentKinds ?? attachmentsSource.kinds ?? []).map(String)\n};\nconst memorySource = raw.conversation_memory\n  || raw.memory\n  || normalizedSource.conversation_memory\n  || inputObject.conversation_memory\n  || {};\nconst conversation_memory = {\n  last_messages: compactMessages(memorySource.last_messages || raw.last_messages || []),\n  recent_prompt_requests: compactPromptRequests(memorySource.recent_prompt_requests || raw.recent_prompt_requests || [])\n};\nreturn [{\n  json: {\n    normalized_input,\n    router_result,\n    attachments_summary,\n    conversation_memory\n  }\n}];"
      },
      "id": "34728313-acb3-4305-a4b5-c14308147a85",
      "name": "Validate Brief Extractor Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        112
      ],
      "notesInFlow": true,
      "notes": "Accepts direct SW-00A/SW-00B fields or normalized_input/router_result objects. No Supabase reads/writes."
    },
    {
      "parameters": {
        "jsCode": "const brief_extractor_input = {\n  normalized_input: $json.normalized_input,\n  router_result: $json.router_result,\n  attachments_summary: $json.attachments_summary,\n  recent_conversation_messages: $json.conversation_memory?.last_messages || [],\n  recent_prompt_requests: $json.conversation_memory?.recent_prompt_requests || []\n};\nreturn [{ json: { ...$json, brief_extractor_input } }];"
      },
      "id": "b110a690-1d90-4c35-ab99-ced491de0bca",
      "name": "Prepare Brief Extractor Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        112
      ],
      "notesInFlow": true,
      "notes": "Builds compact brief_extractor_input for the single AI call."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.brief_extractor_input) }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are SW-00C Brief Decision Extractor Agent for AI Creative Direction OS.\n\nYour only job is to extract structured brief decisions from the normalized user input and the intent router result.\n\nReturn ONLY valid strict JSON.\nNo markdown.\nNo prose.\nNo comments.\nNo extra keys.\n\nRequired JSON schema exactly:\n\n{\n\"can_create_prompt_request\": false,\n\"output_type\": null,\n\"output_type_confidence\": 0.0,\n\"platform\": null,\n\"platform_confidence\": 0.0,\n\"brief_title\": null,\n\"brief_summary\": \"short English summary of the creative request\",\n\"missing_critical_fields\": [],\n\"clarification_question\": null,\n\"meaningful_decisions\": [],\n\"status_recommendation\": \"ready_for_prompt_request | needs_clarification | unsupported\",\n\"reasoning_summary\": \"short English explanation\"\n}\n\nRules:\n\n1. Only run meaningful extraction when the router result indicates:\n- needs_prompt_request = true\nor intent is one of:\n- new_prompt_request\n- prompt_revision\n- campaign_request\n\n2. If router intent is unsupported, general_question, reference_analysis, product_lock_request, or character_lock_request:\n- can_create_prompt_request = false\n- output_type = null\n- platform = null\n- missing_critical_fields = []\n- status_recommendation = \"unsupported\"\n\n3. Do not invent database IDs.\nDo not invent table names.\nDo not create rows.\nDo not query Supabase.\n\n4. output_type should be a normalized descriptive string, not a database ID.\n\nAllowed output_type values:\n- image_prompt\n- video_prompt\n- frame_by_frame_prompt\n- product_ad_prompt\n- social_media_prompt\n- key_visual_prompt\n- retouching_prompt\n- reference_analysis\n- campaign_concept\n- prompt_repair\n- full_creative_direction\n\nOutput type mapping guidance:\n- social media visual requests must become social_media_prompt\n- retouching direction requests must become retouching_prompt\n- campaign requests or campaign concepts must become campaign_concept\n- prompt revision or prompt repair requests must become prompt_repair\n- broad art direction, complete creative direction, or full visual system requests must become full_creative_direction\n- unknown but clearly visual prompt requests should become image_prompt unless video, campaign, retouching, product advertising, reference analysis, prompt repair, or full creative direction is clearly requested\n\n5. platform should be normalized as a lowercase string when clearly mentioned.\nExamples:\n- instagram\n- tiktok\n- youtube\n- facebook\n- linkedin\n- midjourney\n- dalle\n- runway\n- pika\n- kling\n- veo\n- sora\n- other\n\nIf no platform is clearly mentioned, platform = null.\n\n6. Do not set missing_critical_fields for ordinary missing creative details.\nLater agents can handle incomplete creative details.\n\nOnly mark missing_critical_fields if the missing information blocks creating a useful prompt_request record.\n\nExamples of critical fields:\n- output_type when it cannot be inferred\n- previous output reference when intent is prompt_revision and no previous item is identifiable\n\nDO NOT mark creative_subject as critical. If the user just says \\\"I want a prompt\\\" or \\\"عايز برومبت\\\", allow can_create_prompt_request=true and let the prompt generation engine invent or generalize a subject.\n\n7. clarification_question should be null unless missing_critical_fields is not empty.\n\n8. meaningful_decisions must be an array of objects.\n\nEach decision object must use this shape:\n{\n\"decision_key\": \"string_key\",\n\"decision_value\": {},\n\"source\": \"user_explicit | inferred | conversation_memory\",\n\"confidence_score\": 0.0\n}\n\nGood decision keys:\n- creative_subject (primary hero subject only)\n- supporting_subject\n- product_category\n- product_identity\n- surface_environment\n- setting_environment\n- material_finish\n- lighting_direction\n- camera_direction\n- composition_direction\n- color_palette\n- requested_mood\n- target_platform\n- output_type\n- campaign_goal\n- visual_style\n- aspect_ratio\n- audience\n- language_preference\n- revision_target\n- reference_usage\n- constraints\n\nDecision key rules:\n- decision_key values must be unique within meaningful_decisions.\n- Do not use creative_subject for surfaces, backgrounds, props, lighting, mood, camera, or composition.\n- Use creative_subject for the main hero subject only.\n- Use surface_environment for surfaces or backgrounds such as velvet surface, marble table, studio backdrop, street, room, or set.\n- Use lighting_direction for light quality, shadows, glow, rim light, softbox, dramatic lighting, or natural light.\n- Use camera_direction for lens, macro, close-up, angle, depth of field, or shot language.\n- Use composition_direction for framing, layout, negative space, editorial composition, or hierarchy.\n- Use material_finish for reflections, gloss, metal, glass, texture, finish, polish, or material behavior.\n- If two user facts seem similar, preserve both under different accurate keys instead of repeating the same key.\n\n9. can_create_prompt_request should be true only when:\n- router needs_prompt_request is true\n- output_type is not null\n- status_recommendation is not unsupported\n- missing_critical_fields does not include route-blocking fields\n\n10. status_recommendation:\n- ready_for_prompt_request if enough information exists to create prompt_requests\n- needs_clarification if route-blocking information is missing\n- unsupported if this should not create a prompt_request\n\nDo not create prompt_requests.\nDo not write database rows.\nDo not generate creative prompts.\nDo not compose the final user-facing reply.\nDo not analyze references.\nDo not perform product lock analysis.\nDo not perform character lock analysis."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        896,
        128
      ],
      "id": "379beec8-cff2-4e2b-aeb7-ecb0610766ef",
      "name": "Brief Decision Extractor Call"
    },
    {
      "parameters": {
        "jsCode": "function baseInput() {\n  try { return $('Validate Brief Extractor Input').first().json; } catch (e) { return {}; }\n}\nfunction extractText(obj) {\n  if (typeof obj === 'string') return obj;\n  return obj.output\n    ?? obj.text\n    ?? obj.content\n    ?? obj.message?.content\n    ?? obj.choices?.[0]?.message?.content\n    ?? obj.data?.choices?.[0]?.message?.content\n    ?? obj.response?.body?.choices?.[0]?.message?.content\n    ?? JSON.stringify(obj);\n}\nfunction parseJsonLoose(text) {\n  if (typeof text !== 'string') return null;\n  try { return JSON.parse(text); } catch (e) {}\n  const fenced = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (fenced) {\n    try { return JSON.parse(fenced[1]); } catch (e) {}\n  }\n  const start = text.indexOf('{');\n  const end = text.lastIndexOf('}');\n  if (start >= 0 && end > start) {\n    try { return JSON.parse(text.slice(start, end + 1)); } catch (e) {}\n  }\n  return null;\n}\nfunction toBool(value) {\n  return value === true || value === 'true';\n}\nfunction clampConfidence(value) {\n  const n = Number(value);\n  if (!Number.isFinite(n)) return 0;\n  return Math.max(0, Math.min(1, n));\n}\nfunction asStringArray(value) {\n  if (!value) return [];\n  const arr = Array.isArray(value) ? value : [value];\n  return arr.map(v => String(v)).filter(Boolean);\n}\nfunction summaryFromInput(base) {\n  const normalized = base.normalized_input || {};\n  return String(normalized.message_summary_english || normalized.normalized_english_input || 'No usable brief summary available.');\n}\nfunction unsupportedResult(reason, summary = null) {\n  const base = baseInput();\n  return {\n    can_create_prompt_request: false,\n    output_type: null,\n    output_type_confidence: 0,\n    platform: null,\n    platform_confidence: 0,\n    brief_title: null,\n    brief_summary: summary || summaryFromInput(base),\n    missing_critical_fields: [],\n    clarification_question: null,\n    meaningful_decisions: [],\n    status_recommendation: 'unsupported',\n    reasoning_summary: reason\n  };\n}\nfunction sanitizePlatform(value) {\n  if (value === undefined || value === null || value === '') return null;\n  return String(value).trim().toLowerCase();\n}\nfunction sanitizeDecision(decision) {\n  if (!decision || typeof decision !== 'object') return null;\n  const allowedSources = new Set(['user_explicit', 'inferred', 'conversation_memory']);\n  const decision_key = String(decision.decision_key ?? '').trim();\n  if (!decision_key) return null;\n  let decision_value = decision.decision_value;\n  if (decision_value === undefined || decision_value === null) decision_value = {};\n  if (typeof decision_value !== 'object' || Array.isArray(decision_value)) {\n    decision_value = { value: decision_value };\n  }\n  let source = String(decision.source ?? 'inferred').trim();\n  if (!allowedSources.has(source)) source = 'inferred';\n  return {\n    decision_key,\n    decision_value,\n    source,\n    confidence_score: clampConfidence(decision.confidence_score)\n  };\n}\nconst base = baseInput();\nconst router = base.router_result || {};\nconst eligibleIntents = new Set(['new_prompt_request', 'prompt_revision', 'campaign_request']);\nconst unsupportedIntents = new Set(['unsupported', 'general_question', 'reference_analysis', 'product_lock_request', 'character_lock_request']);\nif (unsupportedIntents.has(router.intent)) {\n  return [{ json: unsupportedResult(`Router intent ${router.intent} should not create a prompt_request.`) }];\n}\nif (!router.needs_prompt_request && !eligibleIntents.has(router.intent)) {\n  return [{ json: unsupportedResult('Router result is not eligible for brief decision extraction.') }];\n}\nconst parsed = parseJsonLoose(extractText($json));\nif (!parsed || typeof parsed !== 'object') {\n  return [{ json: unsupportedResult('json_parse_failed', 'Brief decision extractor AI output was not valid JSON.') }];\n}\nconst allowedOutputTypes = new Set([\n  'image_prompt',\n  'video_prompt',\n  'frame_by_frame_prompt',\n  'product_ad_prompt',\n  'social_media_prompt',\n  'key_visual_prompt',\n  'retouching_prompt',\n  'reference_analysis',\n  'campaign_concept',\n  'prompt_repair',\n  'full_creative_direction'\n]);\nfunction canonicalOutputType(value, router, base, parsed) {\n  const v = String(value || '').trim().toLowerCase();\n  const normalized = base.normalized_input || {};\n  const text = [\n    normalized.raw_input,\n    normalized.normalized_english_input,\n    normalized.message_summary_english,\n    parsed.brief_summary,\n    parsed.brief_title\n  ].filter(Boolean).join(' ').toLowerCase();\n\n  const map = {\n    image: 'image_prompt',\n    image_prompt: 'image_prompt',\n    visual_prompt: 'image_prompt',\n\n    video: 'video_prompt',\n    video_prompt: 'video_prompt',\n\n    frame_by_frame: 'frame_by_frame_prompt',\n    frame_by_frame_prompt: 'frame_by_frame_prompt',\n\n    product_ad: 'product_ad_prompt',\n    product_ad_prompt: 'product_ad_prompt',\n    product_advertising_prompt: 'product_ad_prompt',\n    advertising_prompt: 'product_ad_prompt',\n    ad_prompt: 'product_ad_prompt',\n    car_ad_prompt: 'product_ad_prompt',\n    automotive_ad_prompt: 'product_ad_prompt',\n\n    social: 'social_media_prompt',\n    social_media_prompt: 'social_media_prompt',\n    social_media_visual_prompt: 'social_media_prompt',\n\n    key_visual: 'key_visual_prompt',\n    key_visual_prompt: 'key_visual_prompt',\n\n    retouching: 'retouching_prompt',\n    retouching_prompt: 'retouching_prompt',\n    retouching_direction: 'retouching_prompt',\n    retouch_direction: 'retouching_prompt',\n\n    reference_analysis: 'reference_analysis',\n\n    campaign_prompt: 'campaign_concept',\n    campaign_request: 'campaign_concept',\n    campaign_concept: 'campaign_concept',\n\n    prompt_revision: 'prompt_repair',\n    prompt_repair: 'prompt_repair',\n\n    full_creative_direction: 'full_creative_direction',\n    creative_direction: 'full_creative_direction',\n    art_direction: 'full_creative_direction'\n  };\n\n  if (map[v]) return map[v];\n\n  if (router.intent === 'prompt_revision') return 'prompt_repair';\n  if (router.intent === 'campaign_request') return 'campaign_concept';\n\n  if (text.includes('frame by frame') || text.includes('shot by shot') || text.includes('storyboard')) return 'frame_by_frame_prompt';\n  if (text.includes('video') || text.includes('motion') || text.includes('فيديو')) return 'video_prompt';\n  if (text.includes('campaign') || text.includes('حملة') || text.includes('كامبين')) return 'campaign_concept';\n  if (text.includes('repair') || text.includes('revise') || text.includes('revision') || text.includes('fix prompt')) return 'prompt_repair';\n  if (text.includes('retouch') || text.includes('ريتاتش')) return 'retouching_prompt';\n  if (text.includes('key visual') || text.includes('kv') || text.includes('كي فيجوال')) return 'key_visual_prompt';\n  if (text.includes('social') || text.includes('instagram') || text.includes('tiktok') || text.includes('linkedin') || text.includes('facebook')) return 'social_media_prompt';\n  if (text.includes('ad') || text.includes('advertising') || text.includes('product') || text.includes('منتج') || text.includes('إعلان') || text.includes('اعلان')) return 'product_ad_prompt';\n  if (text.includes('full creative') || text.includes('art direction') || text.includes('visual system')) return 'full_creative_direction';\n  if (text.includes('reference analysis') || text.includes('analyze reference')) return 'reference_analysis';\n\n  const clearlyVisual = [\n    'image', 'visual', 'prompt', 'design', 'poster', 'photo', 'صورة', 'فيجوال', 'تصميم', 'برومبت'\n  ].some(term => text.includes(term));\n\n  if (v === 'other' && clearlyVisual) return 'image_prompt';\n  if (!v && clearlyVisual) return 'image_prompt';\n\n  return null;\n}\nconst allowedStatuses = new Set(['ready_for_prompt_request', 'needs_clarification', 'unsupported']);\nlet output_type = canonicalOutputType(parsed.output_type, router, base, parsed);\nif (output_type && !allowedOutputTypes.has(output_type)) output_type = null;\nlet status_recommendation = String(parsed.status_recommendation ?? '').trim();\nif (!allowedStatuses.has(status_recommendation)) {\n  status_recommendation = output_type ? 'ready_for_prompt_request' : 'needs_clarification';\n}\nlet missing_critical_fields = asStringArray(parsed.missing_critical_fields);\nlet clarification_question = parsed.clarification_question === undefined || parsed.clarification_question === null\n  ? null\n  : String(parsed.clarification_question).trim() || null;\nif (missing_critical_fields.length === 0) clarification_question = null;\nif (missing_critical_fields.length > 0 && status_recommendation === 'ready_for_prompt_request') {\n  status_recommendation = 'needs_clarification';\n}\nif (!output_type && status_recommendation !== 'unsupported') {\n  missing_critical_fields = [...new Set([...missing_critical_fields, 'output_type'])];\n  status_recommendation = 'needs_clarification';\n  if (!clarification_question) clarification_question = 'What type of creative output do you want to create?';\n}\nconst meaningful_decisions = Array.isArray(parsed.meaningful_decisions)\n  ? parsed.meaningful_decisions.map(sanitizeDecision).filter(Boolean).slice(0, 20)\n  : [];\nconst brief_summary = String(parsed.brief_summary ?? '').trim() || summaryFromInput(base);\nlet brief_title = parsed.brief_title === undefined || parsed.brief_title === null ? null : String(parsed.brief_title).trim();\nif (!brief_title) brief_title = null;\nconst can_create_prompt_request = Boolean(\n  router.needs_prompt_request === true\n  && output_type\n  && status_recommendation !== 'unsupported'\n  && missing_critical_fields.length === 0\n);\nif (!can_create_prompt_request && status_recommendation === 'ready_for_prompt_request') {\n  status_recommendation = missing_critical_fields.length > 0 ? 'needs_clarification' : 'unsupported';\n}\nreturn [{\n  json: {\n    can_create_prompt_request,\n    output_type,\n    output_type_confidence: output_type ? clampConfidence(parsed.output_type_confidence) : 0,\n    platform: sanitizePlatform(parsed.platform),\n    platform_confidence: parsed.platform ? clampConfidence(parsed.platform_confidence) : 0,\n    brief_title,\n    brief_summary,\n    missing_critical_fields,\n    clarification_question,\n    meaningful_decisions,\n    status_recommendation,\n    reasoning_summary: String(parsed.reasoning_summary ?? '').trim() || 'Brief decisions extracted and validated from normalized input and router result.'\n  }\n}];"
      },
      "id": "2a23eec4-bd1d-4fb6-9ee0-bdc6a693f319",
      "name": "Parse and Validate Brief Decision JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        112
      ],
      "notesInFlow": true,
      "notes": "Parses and enforces allowed output_type/status enums, confidence ranges, and decision object shape."
    },
    {
      "parameters": {
        "jsCode": "const allowedKeys = [\n  'can_create_prompt_request',\n  'output_type',\n  'output_type_confidence',\n  'platform',\n  'platform_confidence',\n  'brief_title',\n  'brief_summary',\n  'missing_critical_fields',\n  'clarification_question',\n  'meaningful_decisions',\n  'status_recommendation',\n  'reasoning_summary'\n];\nconst out = {};\nfor (const key of allowedKeys) out[key] = $json[key];\nreturn [{ json: out }];"
      },
      "id": "6a5ef475-7f95-4357-987d-a30313b1db4c",
      "name": "Return Brief Decision Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        112
      ],
      "notesInFlow": true,
      "notes": "Returns only the approved SW-00C brief decision contract."
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          },
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        992,
        336
      ],
      "id": "73948574-966c-4443-95b9-4c047803818a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UyGBYvdMSrJClgvz",
          "name": "OpenAI account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Brief Extractor Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Brief Extractor Input": {
      "main": [
        [
          {
            "node": "Prepare Brief Extractor Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Brief Extractor Input": {
      "main": [
        [
          {
            "node": "Brief Decision Extractor Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brief Decision Extractor Call": {
      "main": [
        [
          {
            "node": "Parse and Validate Brief Decision JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Validate Brief Decision JSON": {
      "main": [
        [
          {
            "node": "Return Brief Decision Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Brief Decision Extractor Call",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "d8a033d4-23dc-4ac6-bcde-ff084861d83a",
  "meta": {
    "instanceId": "078ebb9a69bf38cf4453fd8eeb25933e0bb708831adc9bbc920c51805e3f39df"
  },
  "id": "z17iKtJSe2WLhEaK",
  "tags": []
}
