n8n-workflows/SW-00C-Brief-Decision-Extractor-Agent.json
{
  "name": "SW-00C Brief Decision Extractor Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "df9d98e0-7c2d-406f-95ce-9241eeed1997",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "function asArray(value) {\n  if (!value) return [];\n  return Array.isArray(value) ? value : [value];\n}\nfunction pick(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null) return value;\n  }\n  return null;\n}\nfunction toBool(value) {\n  return value === true || value === 'true';\n}\nfunction compactMessages(messages) {\n  return asArray(messages).slice(-10).map(m => ({\n    sender: String(m.sender ?? ''),\n    message_text: String(m.message_text ?? m.text ?? ''),\n    message_type: String(m.message_type ?? 'text'),\n    created_at: m.created_at ?? null\n  }));\n}\nfunction compactPromptRequests(rows) {\n  return asArray(rows).slice(0, 5).map(r => ({\n    id: r.id ?? null,\n    raw_input: r.raw_input ?? null,\n    normalized_brief: r.normalized_brief ?? null,\n    output_type: r.output_type ?? null,\n    platform: r.platform ?? null,\n    status: r.status ?? null,\n    created_at: r.created_at ?? null\n  }));\n}\nconst raw = $json || {};\nconst inputObject = raw.input && typeof raw.input === 'object' ? raw.input : {};\nconst normalizedSource = raw.normalized_input\n  || raw.normalizedInput\n  || raw.sw00a_result\n  || raw.sw00aResult\n  || inputObject.normalized_input\n  || inputObject.sw00a_result\n  || inputObject\n  || raw;\nconst routerSource = raw.router_result\n  || raw.routerResult\n  || raw.sw00b_result\n  || raw.sw00bResult\n  || inputObject.router_result\n  || inputObject.sw00b_result\n  || raw;\nconst normalized_input = {\n  detected_language: String(pick(normalizedSource.detected_language, raw.detected_language, 'other')),\n  reply_language: String(pick(normalizedSource.reply_language, raw.reply_language, 'other')),\n  raw_input: String(pick(normalizedSource.raw_input, raw.raw_input, raw.message_text, raw.chatInput, '')),\n  normalized_english_input: String(pick(normalizedSource.normalized_english_input, raw.normalized_english_input, '')),\n  message_summary_english: String(pick(normalizedSource.message_summary_english, raw.message_summary_english, '')),\n  is_empty_or_noise: toBool(pick(normalizedSource.is_empty_or_noise, raw.is_empty_or_noise, false)),\n  normalization_status: String(pick(normalizedSource.normalization_status, raw.normalization_status, 'success')),\n  normalization_error: pick(normalizedSource.normalization_error, raw.normalization_error, null)\n};\nconst router_result = {\n  intent: String(pick(routerSource.intent, raw.intent, 'unsupported')),\n  route: String(pick(routerSource.route, raw.route, 'unsupported')),\n  confidence: Number(pick(routerSource.confidence, raw.confidence, 0)),\n  needs_prompt_request: toBool(pick(routerSource.needs_prompt_request, raw.needs_prompt_request, false)),\n  needs_media_processing: toBool(pick(routerSource.needs_media_processing, raw.needs_media_processing, false)),\n  needs_clarification: toBool(pick(routerSource.needs_clarification, raw.needs_clarification, false)),\n  reasoning_summary: String(pick(routerSource.reasoning_summary, raw.reasoning_summary, '')),\n  unsupported_reason: pick(routerSource.unsupported_reason, raw.unsupported_reason, null)\n};\nconst attachmentsSource = pick(\n  raw.attachments_summary,\n  raw.attachmentsSummary,\n  normalizedSource.attachments_summary,\n  normalizedSource.attachmentsSummary,\n  inputObject.attachments_summary,\n  raw.media,\n  {}\n);\nconst attachments_summary = {\n  has_attachments: toBool(attachmentsSource.has_attachments ?? attachmentsSource.hasAttachments ?? false),\n  attachment_count: Number(attachmentsSource.attachment_count ?? attachmentsSource.attachmentCount ?? 0),\n  attachment_kinds: asArray(attachmentsSource.attachment_kinds ?? attachmentsSource.attachmentKinds ?? attachmentsSource.kinds ?? []).map(String)\n};\nconst memorySource = raw.conversation_memory\n  || raw.memory\n  || normalizedSource.conversation_memory\n  || inputObject.conversation_memory\n  || {};\nconst conversation_memory = {\n  last_messages: compactMessages(memorySource.last_messages || raw.last_messages || []),\n  recent_prompt_requests: compactPromptRequests(memorySource.recent_prompt_requests || raw.recent_prompt_requests || [])\n};\nreturn [{\n  json: {\n    normalized_input,\n    router_result,\n    attachments_summary,\n    conversation_memory\n  }\n}];"
      },
      "id": "34728313-acb3-4305-a4b5-c14308147a85",
      "name": "Validate Brief Extractor Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        112
      ],
      "notesInFlow": true,
      "notes": "Accepts direct SW-00A/SW-00B fields or normalized_input/router_result objects. No Supabase reads/writes."
    },
    {
      "parameters": {
        "jsCode": "const brief_extractor_input = {\n  normalized_input: $json.normalized_input,\n  router_result: $json.router_result,\n  attachments_summary: $json.attachments_summary,\n  recent_conversation_messages: $json.conversation_memory?.last_messages || [],\n  recent_prompt_requests: $json.conversation_memory?.recent_prompt_requests || []\n};\nreturn [{ json: { ...$json, brief_extractor_input } }];"
      },
      "id": "b110a690-1d90-4c35-ab99-ced491de0bca",
      "name": "Prepare Brief Extractor Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        112
      ],
      "notesInFlow": true,
      "notes": "Builds compact brief_extractor_input for the single AI call."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.brief_extractor_input) }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are SW-00C Brief Decision Extractor Agent for AI Creative Direction OS.\n\nYour only job is to decide whether the user has provided enough information to create a prompt_request, and to extract structured brief decisions when enough information exists.\n\nReturn ONLY valid strict JSON.\nNo markdown.\nNo prose.\nNo comments.\nNo extra keys.\n\nRequired JSON schema exactly:\n\n{\n\"can_create_prompt_request\": false,\n\"output_type\": null,\n\"output_type_confidence\": 0.0,\n\"platform\": null,\n\"platform_confidence\": 0.0,\n\"brief_title\": null,\n\"brief_summary\": \"short English summary of the creative request\",\n\"missing_critical_fields\": [],\n\"clarification_question\": null,\n\"meaningful_decisions\": [],\n\"status_recommendation\": \"ready_for_prompt_request | needs_clarification | unsupported\",\n\"reasoning_summary\": \"short English explanation\"\n}\n\nCore principle:\nDo NOT create a prompt_request for a vague request just because it contains the word \"prompt\".\nThe prompt generation engine must not invent the entire project from nothing.\nUse clarification when missing information would materially change the creative direction.\n\nEligible extraction:\n1. Only run meaningful extraction when router_result.needs_prompt_request = true or router_result.intent is one of:\n- new_prompt_request\n- prompt_revision\n- campaign_request\n\n2. If router intent is unsupported, general_question, reference_analysis, product_lock_request, or character_lock_request:\n- can_create_prompt_request = false\n- output_type = null\n- platform = null\n- missing_critical_fields = []\n- clarification_question = null\n- status_recommendation = \"unsupported\"\n\nAllowed output_type values only:\n- image_prompt\n- video_prompt\n- frame_by_frame_prompt\n- product_ad_prompt\n- social_media_prompt\n- key_visual_prompt\n- retouching_prompt\n- reference_analysis\n- campaign_concept\n- prompt_repair\n- full_creative_direction\n\nOutput type mapping guidance:\n- social media visual requests → social_media_prompt\n- retouching direction requests → retouching_prompt\n- campaign requests or campaign concepts → campaign_concept\n- prompt revision or prompt repair requests → prompt_repair\n- broad art direction, complete creative direction, or full visual system → full_creative_direction\n- product advertising or product hero ad → product_ad_prompt\n- video, motion, sequence, shot-by-shot, frame-by-frame → video_prompt or frame_by_frame_prompt\n- clearly visual still image requests → image_prompt\n\nCritical clarification policy:\nA prompt_request can be created only when there is enough information for a useful, directionally correct creative brief.\n\nFor a new prompt request, these fields are critical:\n- output_type: what kind of output is needed.\n- hero_subject: the main thing the prompt is about.\n- use_case: why/where the output will be used, when the use case changes structure, format, or hierarchy.\n\nFor prompt_revision:\n- revision_target is critical if no previous prompt/output is identifiable from memory.\n\nFor product, brand, packaging, logo, label, or product lock language:\n- product_identity is critical when the user expects preservation, advertising accuracy, label/logo consistency, or product-specific output.\n\nFor person, model, face, recurring character, or character consistency language:\n- character_identity is critical when the user expects identity consistency or specific human/character traits.\n\nFor reference-based requests:\n- reference_role is critical when a reference is present or implied but the user does not say what to copy from it.\n\nGeneric prompt requests must ask clarification:\nIf the user says something equivalent to:\n- \"عايز prompt\"\n- \"اكتبلي برومبت\"\n- \"I want a prompt\"\n- \"make me a prompt\"\n- \"prompt please\"\nwithout a concrete subject and output purpose, then:\n- can_create_prompt_request = false\n- output_type = null unless explicitly stated\n- missing_critical_fields must include output_type, hero_subject, and use_case as applicable\n- status_recommendation = \"needs_clarification\"\n- clarification_question must be a tailored user-facing question in the user's reply language.\nDo not allow the generation engine to invent or generalize the subject in this case.\n\nClarification question rules:\n- Ask only the minimum set of questions needed to continue.\n- The question must be contextual and tailored to the user's words, not a fixed template.\n- If the user mentions a product category, ask about the product identity/use case, not generic output type.\n- If the user mentions a platform, do not ask platform again.\n- If the user mentions the subject but not the use case, ask about use case and format.\n- If the user says only \"عايز برومبت\", ask for output type, main subject, and use case in natural Egyptian Arabic if reply_language is ar-EG.\n- Do not mention internal workflow names, database tables, or rule names.\n\nPlatform:\nNormalize platform as lowercase when clearly mentioned:\n- instagram\n- tiktok\n- youtube\n- facebook\n- linkedin\n- midjourney\n- dalle\n- runway\n- pika\n- kling\n- veo\n- sora\n- other\nIf no platform is clearly mentioned, platform = null.\nPlatform is not always critical. Ask platform only when model/platform-specific execution is required or the user asks for platform-specific output.\n\nmeaningful_decisions must be an array of objects:\n{\n\"decision_key\": \"string_key\",\n\"decision_value\": {},\n\"source\": \"user_explicit | inferred | conversation_memory\",\n\"confidence_score\": 0.0\n}\n\nGood decision keys:\n- creative_subject\n- supporting_subject\n- product_category\n- product_identity\n- character_identity\n- surface_environment\n- setting_environment\n- material_finish\n- lighting_direction\n- camera_direction\n- composition_direction\n- color_palette\n- requested_mood\n- target_platform\n- output_type\n- campaign_goal\n- visual_style\n- aspect_ratio\n- audience\n- language_preference\n- revision_target\n- reference_usage\n- use_case\n- constraints\n\nDecision key rules:\n- decision_key values must be unique within meaningful_decisions.\n- Use creative_subject for the main hero subject only.\n- Do not use creative_subject for surfaces, backgrounds, props, lighting, mood, camera, or composition.\n- Preserve distinct user facts under distinct accurate keys.\n\ncan_create_prompt_request should be true only when:\n- router_result.needs_prompt_request is true\n- output_type is not null\n- status_recommendation = \"ready_for_prompt_request\"\n- missing_critical_fields is empty\n- the brief has a concrete hero subject or a valid revision/campaign target\n\nstatus_recommendation:\n- ready_for_prompt_request: enough information exists to create prompt_requests.\n- needs_clarification: direction-changing information is missing.\n- unsupported: this should not create a prompt_request.\n\nDo not create prompt_requests.\nDo not write database rows.\nDo not generate creative prompts.\nDo not compose the final prompt.\nDo not analyze references.\nDo not perform product lock analysis.\nDo not perform character lock analysis."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        896,
        128
      ],
      "id": "379beec8-cff2-4e2b-aeb7-ecb0610766ef",
      "name": "Brief Decision Extractor Call"
    },
    {
      "parameters": {
        "jsCode": "function baseInput() {\n  try { return $('Validate Brief Extractor Input').first().json; } catch (e) { return {}; }\n}\nfunction extractText(obj) {\n  if (typeof obj === 'string') return obj;\n  return obj.output\n    ?? obj.text\n    ?? obj.content\n    ?? obj.message?.content\n    ?? obj.choices?.[0]?.message?.content\n    ?? obj.data?.choices?.[0]?.message?.content\n    ?? obj.response?.body?.choices?.[0]?.message?.content\n    ?? JSON.stringify(obj);\n}\nfunction parseJsonLoose(text) {\n  if (typeof text !== 'string') return null;\n  try { return JSON.parse(text); } catch (e) {}\n  const fenced = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (fenced) {\n    try { return JSON.parse(fenced[1]); } catch (e) {}\n  }\n  const start = text.indexOf('{');\n  const end = text.lastIndexOf('}');\n  if (start >= 0 && end > start) {\n    try { return JSON.parse(text.slice(start, end + 1)); } catch (e) {}\n  }\n  return null;\n}\nfunction toBool(value) {\n  return value === true || value === 'true';\n}\nfunction clampConfidence(value) {\n  const n = Number(value);\n  if (!Number.isFinite(n)) return 0;\n  return Math.max(0, Math.min(1, n));\n}\nfunction asStringArray(value) {\n  if (!value) return [];\n  const arr = Array.isArray(value) ? value : [value];\n  return arr.map(v => String(v).trim()).filter(Boolean);\n}\nfunction uniq(arr) {\n  return [...new Set((arr || []).filter(Boolean))];\n}\nfunction summaryFromInput(base) {\n  const normalized = base.normalized_input || {};\n  return String(normalized.message_summary_english || normalized.normalized_english_input || 'No usable brief summary available.');\n}\nfunction rawTextFromBase(base, parsed = {}) {\n  const normalized = base.normalized_input || {};\n  return [\n    normalized.raw_input,\n    normalized.normalized_english_input,\n    normalized.message_summary_english,\n    parsed.brief_summary,\n    parsed.brief_title\n  ].filter(Boolean).join(' ').toLowerCase();\n}\nfunction replyLanguage(base) {\n  return String(base.normalized_input?.reply_language || base.normalized_input?.detected_language || 'en');\n}\nfunction unsupportedResult(reason, summary = null) {\n  const base = baseInput();\n  return {\n    can_create_prompt_request: false,\n    output_type: null,\n    output_type_confidence: 0,\n    platform: null,\n    platform_confidence: 0,\n    brief_title: null,\n    brief_summary: summary || summaryFromInput(base),\n    missing_critical_fields: [],\n    clarification_question: null,\n    meaningful_decisions: [],\n    status_recommendation: 'unsupported',\n    reasoning_summary: reason\n  };\n}\nfunction sanitizePlatform(value) {\n  if (value === undefined || value === null || value === '') return null;\n  return String(value).trim().toLowerCase();\n}\nfunction sanitizeDecision(decision) {\n  if (!decision || typeof decision !== 'object') return null;\n  const allowedSources = new Set(['user_explicit', 'inferred', 'conversation_memory']);\n  const decision_key = String(decision.decision_key ?? '').trim();\n  if (!decision_key) return null;\n  let decision_value = decision.decision_value;\n  if (decision_value === undefined || decision_value === null) decision_value = {};\n  if (typeof decision_value !== 'object' || Array.isArray(decision_value)) {\n    decision_value = { value: decision_value };\n  }\n  let source = String(decision.source ?? 'inferred').trim();\n  if (!allowedSources.has(source)) source = 'inferred';\n  return {\n    decision_key,\n    decision_value,\n    source,\n    confidence_score: clampConfidence(decision.confidence_score)\n  };\n}\nfunction decisionText(decision) {\n  if (!decision) return '';\n  try { return JSON.stringify(decision.decision_value || {}).toLowerCase(); } catch (e) { return ''; }\n}\nfunction hasDecision(decisions, keys) {\n  const wanted = new Set(keys);\n  return decisions.some(d => wanted.has(d.decision_key) && decisionText(d).replace(/[{}\\[\\]\":,_-]/g, '').trim().length > 0);\n}\nfunction includesAny(text, terms) {\n  return terms.some(term => text.includes(term));\n}\nfunction stripGenericTerms(text) {\n  return String(text || '')\n    .toLowerCase()\n    .replace(/[^\\p{L}\\p{N}\\s]/gu, ' ')\n    .split(/\\s+/)\n    .filter(Boolean)\n    .filter(token => ![\n      'prompt', 'prompts', 'برومبت', 'برومتي', 'بروموت', 'بروموتي', 'اكتبلي', 'اكتب', 'عايز', 'عايزة', 'عاوز', 'عاوزة',\n      'محتاج', 'محتاجة', 'make', 'write', 'create', 'generate', 'please', 'لي', 'for', 'a', 'an', 'me', 'one',\n      'image', 'صورة', 'visual', 'design', 'تصميم'\n    ].includes(token))\n    .join(' ');\n}\nfunction isGenericPromptOnly(base, parsed) {\n  const normalized = base.normalized_input || {};\n  const raw = String(normalized.raw_input || '').trim().toLowerCase();\n  const normalizedText = String(normalized.normalized_english_input || '').trim().toLowerCase();\n  const combined = `${raw} ${normalizedText}`.trim();\n\n  const asksForPrompt = includesAny(combined, [\n    'prompt', 'برومبت', 'بروموت', 'برومتي', 'اكتبلي برومبت', 'عايز برومبت', 'عاوز برومبت'\n  ]);\n  if (!asksForPrompt) return false;\n\n  const remaining = stripGenericTerms(combined);\n  const hasConcreteClue = includesAny(combined, [\n    'منتج', 'product', 'brand', 'براند', 'logo', 'packaging', 'car', 'سيارة', 'عربية', 'perfume', 'برفان',\n    'person', 'model', 'character', 'شخص', 'موديل', 'campaign', 'حملة', 'ad ', 'advertising', 'اعلان', 'إعلان',\n    'video', 'فيديو', 'instagram', 'tiktok', 'poster', 'بوستر', 'retouch', 'ريتاتش', 'reference', 'ريفرنس'\n  ]);\n\n  return remaining.length < 3 && !hasConcreteClue;\n}\nfunction clarificationFallback(base, missingFields, outputType, decisions) {\n  const lang = replyLanguage(base);\n  const hasSubject = hasDecision(decisions, ['creative_subject', 'product_category', 'product_identity', 'character_identity', 'campaign_goal', 'revision_target']);\n  const needs = new Set(missingFields);\n\n  if (lang === 'ar-EG' || lang === 'mixed') {\n    if (needs.has('output_type') && needs.has('hero_subject')) {\n      return 'تمام، محتاج أحدد الاتجاه الأول: عايز البرومبت لصورة ولا فيديو ولا إعلان منتج ولا social media design؟ وإيه الموضوع الأساسي والاستخدام المطلوب؟';\n    }\n    if (needs.has('hero_subject')) {\n      return 'تمام، محتاج أعرف الموضوع الأساسي للبرومبت: منتج، شخص، مشهد، براند، ولا صورة عايز تعدلها؟';\n    }\n    if (needs.has('use_case')) {\n      return 'تمام، البرومبت ده هيستخدم في إيه بالضبط: إعلان، بوست سوشيال، key visual، product shot، ولا تجربة ستايل؟';\n    }\n    if (!hasSubject && outputType) {\n      return 'تمام، حدّدلي الموضوع الأساسي والاستخدام المطلوب عشان أكتب برومبت مضبوط.';\n    }\n    return 'محتاج توضيح بسيط قبل ما أكمّل: إيه أهم تفاصيل الاتجاه اللي عايز البرومبت يطلع عليه؟';\n  }\n\n  if (needs.has('output_type') && needs.has('hero_subject')) {\n    return 'I need to define the direction first: is this for an image, video, product ad, social media design, key visual, retouching, or campaign, and what is the main subject and use case?';\n  }\n  if (needs.has('hero_subject')) {\n    return 'What is the main subject of the prompt: a product, person, scene, brand visual, existing image edit, or campaign idea?';\n  }\n  if (needs.has('use_case')) {\n    return 'What will this prompt be used for: an ad, social post, key visual, product shot, website hero, video, or style exploration?';\n  }\n  return 'I need one clarification before continuing: what exact creative direction should this prompt produce?';\n}\nconst base = baseInput();\nconst router = base.router_result || {};\nconst eligibleIntents = new Set(['new_prompt_request', 'prompt_revision', 'campaign_request']);\nconst unsupportedIntents = new Set(['unsupported', 'general_question', 'reference_analysis', 'product_lock_request', 'character_lock_request']);\nif (unsupportedIntents.has(router.intent)) {\n  return [{ json: unsupportedResult(`Router intent ${router.intent} should not create a prompt_request.`) }];\n}\nif (!router.needs_prompt_request && !eligibleIntents.has(router.intent)) {\n  return [{ json: unsupportedResult('Router result is not eligible for brief decision extraction.') }];\n}\nconst parsed = parseJsonLoose(extractText($json));\nif (!parsed || typeof parsed !== 'object') {\n  return [{ json: unsupportedResult('json_parse_failed', 'Brief decision extractor AI output was not valid JSON.') }];\n}\nconst allowedOutputTypes = new Set([\n  'image_prompt',\n  'video_prompt',\n  'frame_by_frame_prompt',\n  'product_ad_prompt',\n  'social_media_prompt',\n  'key_visual_prompt',\n  'retouching_prompt',\n  'reference_analysis',\n  'campaign_concept',\n  'prompt_repair',\n  'full_creative_direction'\n]);\nfunction canonicalOutputType(value, router, base, parsed) {\n  const v = String(value || '').trim().toLowerCase();\n  const text = rawTextFromBase(base, parsed);\n\n  const map = {\n    image: 'image_prompt',\n    image_prompt: 'image_prompt',\n    visual_prompt: 'image_prompt',\n\n    video: 'video_prompt',\n    video_prompt: 'video_prompt',\n\n    frame_by_frame: 'frame_by_frame_prompt',\n    frame_by_frame_prompt: 'frame_by_frame_prompt',\n\n    product_ad: 'product_ad_prompt',\n    product_ad_prompt: 'product_ad_prompt',\n    product_advertising_prompt: 'product_ad_prompt',\n    advertising_prompt: 'product_ad_prompt',\n    ad_prompt: 'product_ad_prompt',\n    car_ad_prompt: 'product_ad_prompt',\n    automotive_ad_prompt: 'product_ad_prompt',\n\n    social: 'social_media_prompt',\n    social_media_prompt: 'social_media_prompt',\n    social_media_visual_prompt: 'social_media_prompt',\n\n    key_visual: 'key_visual_prompt',\n    key_visual_prompt: 'key_visual_prompt',\n\n    retouching: 'retouching_prompt',\n    retouching_prompt: 'retouching_prompt',\n    retouching_direction: 'retouching_prompt',\n    retouch_direction: 'retouching_prompt',\n\n    reference_analysis: 'reference_analysis',\n\n    campaign_prompt: 'campaign_concept',\n    campaign_request: 'campaign_concept',\n    campaign_concept: 'campaign_concept',\n\n    prompt_revision: 'prompt_repair',\n    prompt_repair: 'prompt_repair',\n\n    full_creative_direction: 'full_creative_direction',\n    creative_direction: 'full_creative_direction',\n    art_direction: 'full_creative_direction'\n  };\n\n  if (map[v]) return map[v];\n\n  if (router.intent === 'prompt_revision') return 'prompt_repair';\n  if (router.intent === 'campaign_request') return 'campaign_concept';\n\n  if (text.includes('frame by frame') || text.includes('shot by shot') || text.includes('storyboard')) return 'frame_by_frame_prompt';\n  if (text.includes('video') || text.includes('motion') || text.includes('فيديو')) return 'video_prompt';\n  if (text.includes('campaign') || text.includes('حملة') || text.includes('كامبين')) return 'campaign_concept';\n  if (text.includes('repair') || text.includes('revise') || text.includes('revision') || text.includes('fix prompt')) return 'prompt_repair';\n  if (text.includes('retouch') || text.includes('ريتاتش')) return 'retouching_prompt';\n  if (text.includes('key visual') || text.includes('kv') || text.includes('كي فيجوال') || text.includes('فيجوال رئيسي')) return 'key_visual_prompt';\n  if (text.includes('social') || text.includes('instagram') || text.includes('tiktok') || text.includes('linkedin') || text.includes('facebook')) return 'social_media_prompt';\n  if (\n    text.includes('ad ') ||\n    text.includes('advertising') ||\n    text.includes('product') ||\n    text.includes('منتج') ||\n    text.includes('إعلان') ||\n    text.includes('اعلان') ||\n    text.includes('براند') ||\n    text.includes('brand') ||\n    text.includes('perfume') ||\n    text.includes('برفان')\n  ) return 'product_ad_prompt';\n  if (text.includes('full creative') || text.includes('art direction') || text.includes('visual system')) return 'full_creative_direction';\n  if (text.includes('reference analysis') || text.includes('analyze reference')) return 'reference_analysis';\n\n  const clearlyVisual = [\n    'image', 'visual', 'design', 'poster', 'photo', 'صورة', 'فيجوال', 'تصميم'\n  ].some(term => text.includes(term));\n\n  if (v === 'other' && clearlyVisual) return 'image_prompt';\n  if (!v && clearlyVisual && !isGenericPromptOnly(base, parsed)) return 'image_prompt';\n\n  return null;\n}\nconst allowedStatuses = new Set(['ready_for_prompt_request', 'needs_clarification', 'unsupported']);\nlet output_type = canonicalOutputType(parsed.output_type, router, base, parsed);\nif (output_type && !allowedOutputTypes.has(output_type)) output_type = null;\nlet status_recommendation = String(parsed.status_recommendation ?? '').trim();\nif (!allowedStatuses.has(status_recommendation)) {\n  status_recommendation = output_type ? 'ready_for_prompt_request' : 'needs_clarification';\n}\nlet missing_critical_fields = asStringArray(parsed.missing_critical_fields);\nlet clarification_question = parsed.clarification_question === undefined || parsed.clarification_question === null\n  ? null\n  : String(parsed.clarification_question).trim() || null;\n\nconst meaningful_decisions = Array.isArray(parsed.meaningful_decisions)\n  ? parsed.meaningful_decisions.map(sanitizeDecision).filter(Boolean).slice(0, 20)\n  : [];\n\nconst text = rawTextFromBase(base, parsed);\nconst genericPromptOnly = isGenericPromptOnly(base, parsed);\nconst hasSubject = hasDecision(meaningful_decisions, [\n  'creative_subject',\n  'product_category',\n  'product_identity',\n  'character_identity',\n  'campaign_goal',\n  'revision_target'\n]);\nconst hasUseCase = hasDecision(meaningful_decisions, [\n  'use_case',\n  'target_platform',\n  'campaign_goal',\n  'audience',\n  'aspect_ratio'\n]) || includesAny(text, [\n  'ad ', 'advertising', 'اعلان', 'إعلان', 'social', 'instagram', 'tiktok', 'poster', 'بوستر',\n  'website', 'hero', 'campaign', 'حملة', 'product shot', 'key visual', 'style exploration'\n]);\nconst isRevision = router.intent === 'prompt_revision' || output_type === 'prompt_repair';\nconst isCampaign = router.intent === 'campaign_request' || output_type === 'campaign_concept';\n\nif (genericPromptOnly) {\n  output_type = null;\n  missing_critical_fields = uniq([...missing_critical_fields, 'output_type', 'hero_subject', 'use_case']);\n  status_recommendation = 'needs_clarification';\n}\n\nif (!output_type && status_recommendation !== 'unsupported') {\n  missing_critical_fields = uniq([...missing_critical_fields, 'output_type']);\n  status_recommendation = 'needs_clarification';\n}\n\nif (!isRevision && !isCampaign && !hasSubject && status_recommendation !== 'unsupported') {\n  missing_critical_fields = uniq([...missing_critical_fields, 'hero_subject']);\n  status_recommendation = 'needs_clarification';\n}\n\nif (!isRevision && !hasUseCase && status_recommendation !== 'unsupported') {\n  missing_critical_fields = uniq([...missing_critical_fields, 'use_case']);\n  status_recommendation = 'needs_clarification';\n}\n\nif (isRevision && !hasDecision(meaningful_decisions, ['revision_target']) && status_recommendation !== 'unsupported') {\n  missing_critical_fields = uniq([...missing_critical_fields, 'revision_target']);\n  status_recommendation = 'needs_clarification';\n}\n\nif (\n  includesAny(text, ['product lock', 'preserve product', 'logo', 'packaging', 'label', 'براند', 'لوجو', 'عبوة', 'باكيدج']) &&\n  !hasDecision(meaningful_decisions, ['product_identity']) &&\n  status_recommendation !== 'unsupported'\n) {\n  missing_critical_fields = uniq([...missing_critical_fields, 'product_identity']);\n  status_recommendation = 'needs_clarification';\n}\n\nif (\n  includesAny(text, ['character consistency', 'same character', 'same person', 'face consistency', 'نفس الشخصية', 'نفس الشخص']) &&\n  !hasDecision(meaningful_decisions, ['character_identity']) &&\n  status_recommendation !== 'unsupported'\n) {\n  missing_critical_fields = uniq([...missing_critical_fields, 'character_identity']);\n  status_recommendation = 'needs_clarification';\n}\n\nif (missing_critical_fields.length === 0) {\n  clarification_question = null;\n} else {\n  status_recommendation = 'needs_clarification';\n  if (!clarification_question) {\n    clarification_question = clarificationFallback(base, missing_critical_fields, output_type, meaningful_decisions);\n  }\n}\n\nconst brief_summary = String(parsed.brief_summary ?? '').trim() || summaryFromInput(base);\nlet brief_title = parsed.brief_title === undefined || parsed.brief_title === null ? null : String(parsed.brief_title).trim();\nif (!brief_title) brief_title = null;\n\nlet can_create_prompt_request = Boolean(\n  router.needs_prompt_request === true\n  && output_type\n  && status_recommendation === 'ready_for_prompt_request'\n  && missing_critical_fields.length === 0\n);\n\nif (can_create_prompt_request && !isRevision && !isCampaign && !hasSubject) {\n  can_create_prompt_request = false;\n  status_recommendation = 'needs_clarification';\n  missing_critical_fields = uniq([...missing_critical_fields, 'hero_subject']);\n  clarification_question = clarification_question || clarificationFallback(base, missing_critical_fields, output_type, meaningful_decisions);\n}\n\nif (!can_create_prompt_request && status_recommendation === 'ready_for_prompt_request') {\n  status_recommendation = missing_critical_fields.length > 0 ? 'needs_clarification' : 'unsupported';\n}\n\nreturn [{\n  json: {\n    can_create_prompt_request,\n    output_type,\n    output_type_confidence: output_type ? clampConfidence(parsed.output_type_confidence) : 0,\n    platform: sanitizePlatform(parsed.platform),\n    platform_confidence: parsed.platform ? clampConfidence(parsed.platform_confidence) : 0,\n    brief_title,\n    brief_summary,\n    missing_critical_fields: uniq(missing_critical_fields),\n    clarification_question,\n    meaningful_decisions,\n    status_recommendation,\n    reasoning_summary: String(parsed.reasoning_summary ?? '').trim() || 'Brief decisions extracted and validated from normalized input and router result.'\n  }\n}];"
      },
      "id": "2a23eec4-bd1d-4fb6-9ee0-bdc6a693f319",
      "name": "Parse and Validate Brief Decision JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        112
      ],
      "notesInFlow": true,
      "notes": "Parses and enforces allowed output_type/status enums, critical clarification gates, confidence ranges, and decision object shape."
    },
    {
      "parameters": {
        "jsCode": "const allowedKeys = [\n  'can_create_prompt_request',\n  'output_type',\n  'output_type_confidence',\n  'platform',\n  'platform_confidence',\n  'brief_title',\n  'brief_summary',\n  'missing_critical_fields',\n  'clarification_question',\n  'meaningful_decisions',\n  'status_recommendation',\n  'reasoning_summary'\n];\nconst out = {};\nfor (const key of allowedKeys) out[key] = $json[key];\nreturn [{ json: out }];"
      },
      "id": "6a5ef475-7f95-4357-987d-a30313b1db4c",
      "name": "Return Brief Decision Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        112
      ],
      "notesInFlow": true,
      "notes": "Returns only the approved SW-00C brief decision contract."
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          },
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        992,
        336
      ],
      "id": "73948574-966c-4443-95b9-4c047803818a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UyGBYvdMSrJClgvz",
          "name": "OpenAI account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Brief Extractor Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Brief Extractor Input": {
      "main": [
        [
          {
            "node": "Prepare Brief Extractor Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Brief Extractor Input": {
      "main": [
        [
          {
            "node": "Brief Decision Extractor Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brief Decision Extractor Call": {
      "main": [
        [
          {
            "node": "Parse and Validate Brief Decision JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Validate Brief Decision JSON": {
      "main": [
        [
          {
            "node": "Return Brief Decision Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Brief Decision Extractor Call",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "d8a033d4-23dc-4ac6-bcde-ff084861d83a",
  "meta": {
    "instanceId": "078ebb9a69bf38cf4453fd8eeb25933e0bb708831adc9bbc920c51805e3f39df"
  },
  "id": "z17iKtJSe2WLhEaK",
  "tags": []
}
