n8n-workflows/WF-10-Prompt-Generation-Engine.json
{
  "name": "WF-10 Prompt Generation Engine",
  "nodes": [
    {
      "parameters": {},
      "id": "2fd15c5f-6f42-494f-8e0b-e6904c4ce5b5",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -8096,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "function pick(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && value !== '') return value;\n  }\n  return null;\n}\n\nfunction isUuid(value) {\n  if (value === undefined || value === null) return false;\n  const s = String(value).trim();\n  return /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i.test(s);\n}\n\nfunction uuidOrNull(value) {\n  return isUuid(value) ? String(value).trim() : null;\n}\n\nconst raw = $json || {};\nconst handoff = raw.handoff_payload || raw;\nconst errors = [];\n\nconst prompt_request_id = uuidOrNull(\n  pick(raw.prompt_request_id, handoff.prompt_request_id)\n);\n\nconst workspace_id = uuidOrNull(\n  pick(raw.workspace_id, handoff.workspace_id)\n);\n\nconst user_id = uuidOrNull(\n  pick(raw.user_id, handoff.user_id)\n);\n\nconst project_id = uuidOrNull(\n  pick(raw.project_id, handoff.project_id)\n);\n\nconst conversation_session_id = uuidOrNull(\n  pick(raw.conversation_session_id, handoff.conversation_session_id)\n);\n\nconst source_user_message_id = uuidOrNull(\n  pick(raw.source_user_message_id, handoff.source_user_message_id)\n);\n\nconst output_type = pick(raw.output_type, handoff.output_type, null);\nconst platform = pick(raw.platform, handoff.platform, null);\n\nif (String(raw.wf01_status || '') !== 'created') {\n  errors.push('wf01_status_not_created');\n}\n\nif (!prompt_request_id) {\n  errors.push('missing_or_invalid_prompt_request_id');\n}\n\nif (!workspace_id) {\n  errors.push('missing_or_invalid_workspace_id');\n}\n\nif (!user_id) {\n  errors.push('missing_or_invalid_user_id');\n}\n\nreturn [\n  {\n    json: {\n      wf10_stage: 'validated_handoff',\n      valid_handoff: errors.length === 0,\n      prompt_request_id,\n      workspace_id,\n      user_id,\n      project_id,\n      conversation_session_id,\n      source_user_message_id,\n      output_type,\n      platform,\n      wf01_result: raw,\n      errors\n    }\n  }\n];"
      },
      "id": "e3b23dc8-c979-49fc-99ee-a6d6c10bf00c",
      "name": "Validate WF-01 Handoff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7872,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0f5e89b5-3ad4-4d61-a153-5c94cfcd96f7",
              "leftValue": "={{ $json.valid_handoff }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8acb4cab-dc05-494d-ad79-bf9c285e1363",
      "name": "IF Valid Handoff",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7648,
        16
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "prompt_requests",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.prompt_request_id }}"
            },
            {
              "keyName": "workspace_id",
              "condition": "eq",
              "keyValue": "={{ $json.workspace_id }}"
            }
          ]
        }
      },
      "id": "7d60554d-c904-49f3-ac08-09e1ec292319",
      "name": "Load Prompt Request",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -7424,
        -64
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "i9vZO55NnCKQ8f4G",
          "name": "Supabase account 3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "function asArray(value) {\n  if (!value) return [];\n  return Array.isArray(value) ? value : [value];\n}\n\nfunction parseMaybeJson(value, fallback) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'object') return value;\n  try {\n    return JSON.parse(value);\n  } catch (e) {\n    return fallback;\n  }\n}\n\nfunction isUuid(value) {\n  if (value === undefined || value === null) return false;\n  const s = String(value).trim();\n  return /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i.test(s);\n}\n\nconst handoff = $('Validate WF-01 Handoff').first().json || {};\nconst row = ($json && $json.id && !$json.error) ? $json : null;\n\nlet errors = asArray(handoff.errors);\n\nif (!row) {\n  errors.push('prompt_request_not_found');\n}\n\nif (row && row.id !== handoff.prompt_request_id) {\n  errors.push('prompt_request_id_mismatch');\n}\n\nif (row && row.workspace_id !== handoff.workspace_id) {\n  errors.push('prompt_request_workspace_mismatch');\n}\n\nif (row && row.user_id !== handoff.user_id) {\n  errors.push('prompt_request_user_mismatch');\n}\n\nconst promptRequest = row ? {\n  id: row.id,\n  user_id: row.user_id,\n  workspace_id: row.workspace_id,\n  project_id: row.project_id || null,\n  raw_input: row.raw_input || '',\n  normalized_brief: parseMaybeJson(row.normalized_brief, {}),\n  detected_language: row.detected_language || null,\n  output_type: row.output_type || handoff.output_type || null,\n  platform: row.platform || handoff.platform || null,\n  status: row.status || null,\n  missing_fields: parseMaybeJson(row.missing_fields, []),\n  clarification_needed: row.clarification_needed === true || row.clarification_needed === 'true',\n  created_at: row.created_at || null\n} : null;\n\nif (promptRequest && promptRequest.status !== 'ready_for_generation') {\n  errors.push('prompt_request_not_ready_for_generation');\n}\n\nreturn [\n  {\n    json: {\n      ...handoff,\n      prompt_request: promptRequest,\n      prompt_request_loaded: Boolean(promptRequest),\n      output_type: promptRequest?.output_type || handoff.output_type || null,\n      platform: promptRequest?.platform || handoff.platform || null,\n      errors: [...new Set(errors)]\n    }\n  }\n];"
      },
      "id": "0d91a7d1-94ab-48fe-af71-a4651e762026",
      "name": "Validate Loaded Prompt Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7200,
        -64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7c5c74b6-4ca4-4708-8ee5-73a6080d2028",
              "leftValue": "={{ $json.prompt_request_loaded && $json.errors.length === 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3f08aac8-5679-47be-acc5-7d18340d930d",
      "name": "IF Loaded Prompt Request Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6976,
        -64
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "brief_decisions",
        "limit": 20,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "prompt_request_id",
              "condition": "eq",
              "keyValue": "={{ $json.prompt_request_id }}"
            }
          ]
        }
      },
      "id": "53804001-185d-4b25-9138-606668f97aa6",
      "name": "Load Brief Decisions",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -6752,
        -192
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "i9vZO55NnCKQ8f4G",
          "name": "Supabase account 3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "function parseMaybeJson(value, fallback) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'object') return value;\n  try { return JSON.parse(value); } catch (e) { return fallback; }\n}\nconst base = $('Validate Loaded Prompt Request').first().json;\nconst rows = $input.all().map(i => i.json).filter(r => r && r.id && !r.error).map(r => ({\n  id: r.id,\n  prompt_request_id: r.prompt_request_id,\n  decision_key: r.decision_key,\n  decision_value: parseMaybeJson(r.decision_value, r.decision_value || {}),\n  source: r.source || null,\n  confidence_score: Number(r.confidence_score || 0)\n}));\nreturn [{ json: { ...base, brief_decisions: rows } }];"
      },
      "id": "951bf8a0-1d79-4e55-8661-1ce5047f9be9",
      "name": "Build Brief Decision Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6528,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "prompt_templates",
        "limit": 20,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "id": "62637f08-dc75-4150-baf6-77073bb4b04e",
      "name": "Load Active Prompt Templates",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -6304,
        -192
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "i9vZO55NnCKQ8f4G",
          "name": "Supabase account 3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "function parseMaybeJson(value, fallback) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'object') return value;\n  try { return JSON.parse(value); } catch (e) { return fallback; }\n}\nconst base = $('Build Brief Decision Context').first().json;\nconst outputType = String(base.output_type || '').toLowerCase();\nconst platform = String(base.platform || '').toLowerCase();\nconst rows = $input.all().map(i => i.json).filter(r => r && r.id && !r.error).filter(r => {\n  const rt = String(r.output_type || '').toLowerCase();\n  const rp = String(r.platform || '').toLowerCase();\n  return (!rt || !outputType || rt === outputType) && (!rp || !platform || rp === platform);\n}).slice(0, 5).map(r => ({\n  id: r.id,\n  template_name: r.template_name || r.name || null,\n  output_type: r.output_type || null,\n  platform: r.platform || null,\n  structure: parseMaybeJson(r.structure, r.structure || null),\n  required_sections: parseMaybeJson(r.required_sections, r.required_sections || []),\n  optional_sections: parseMaybeJson(r.optional_sections, r.optional_sections || []),\n  variables: parseMaybeJson(r.variables, r.variables || {}),\n  word_count_min: r.word_count_min || null,\n  word_count_max: r.word_count_max || null,\n  language: r.language || null\n}));\nreturn [{ json: { ...base, prompt_templates: rows } }];"
      },
      "id": "c434bd5b-05e5-4746-82dd-8b310f02222b",
      "name": "Capture Prompt Templates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6080,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "prompt_writing_rules",
        "limit": 30,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "id": "918fc501-d639-44d6-ba75-ec854e41c927",
      "name": "Load Active Prompt Writing Rules",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -5856,
        -192
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "i9vZO55NnCKQ8f4G",
          "name": "Supabase account 3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "function parseMaybeJson(value, fallback) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (Array.isArray(value)) return value;\n  if (typeof value === 'object') return value;\n  try { return JSON.parse(value); } catch (e) { return fallback; }\n}\nconst base = $('Capture Prompt Templates').first().json;\nconst outputType = String(base.output_type || '').toLowerCase();\nconst rows = $input.all().map(i => i.json).filter(r => r && r.id && !r.error).filter(r => {\n  const applies = parseMaybeJson(r.applies_to_output_types, []);\n  if (!outputType || !Array.isArray(applies) || applies.length === 0) return true;\n  return applies.map(x => String(x).toLowerCase()).includes(outputType);\n}).sort((a,b) => Number(b.priority || 0) - Number(a.priority || 0)).slice(0, 10).map(r => ({\n  id: r.id,\n  rule_name: r.rule_name || null,\n  rule_category: r.rule_category || null,\n  description: r.description || null,\n  priority: r.priority || null,\n  example_good: r.example_good || null,\n  example_bad: r.example_bad || null\n}));\nreturn [{ json: { ...base, prompt_writing_rules: rows } }];"
      },
      "id": "ca40fb18-0b62-4335-84d6-415b9c1e3272",
      "name": "Capture Prompt Writing Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5632,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "prompt_assembly_rules",
        "limit": 30,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "output_type",
              "condition": "eq",
              "keyValue": "={{ $json.output_type }}"
            },
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "id": "1a0ef19c-b221-4181-b22e-3505b6f584cc",
      "name": "Load Active Prompt Assembly Rules",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -5408,
        -192
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "i9vZO55NnCKQ8f4G",
          "name": "Supabase account 3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "function parseMaybeJson(value, fallback) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'object') return value;\n  try { return JSON.parse(value); } catch (e) { return fallback; }\n}\nconst base = $('Capture Prompt Writing Rules').first().json;\nconst outputType = String(base.output_type || '').toLowerCase();\nconst rows = $input.all().map(i => i.json).filter(r => r && r.id && !r.error).filter(r => {\n  const rt = String(r.output_type || '').toLowerCase();\n  return !rt || !outputType || rt === outputType;\n}).slice(0, 15).map(r => ({\n  id: r.id,\n  output_type: r.output_type || null,\n  section_order: r.section_order || null,\n  section_name: r.section_name || null,\n  required: r.required === true || r.required === 'true',\n  data_source_domain: r.data_source_domain || null,\n  writing_instruction: r.writing_instruction || null,\n  fallback_behavior: r.fallback_behavior || null\n}));\nreturn [{ json: { ...base, prompt_assembly_rules: rows } }];"
      },
      "id": "dc9be744-5350-4465-8c07-37d2ec3f2069",
      "name": "Capture Prompt Assembly Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5184,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "platform_rules",
        "limit": 15,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "id": "23a9c02c-cb58-435f-9223-8f882ecf945b",
      "name": "Load Active Platform Rules",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4960,
        -192
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "i9vZO55NnCKQ8f4G",
          "name": "Supabase account 3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "function parseMaybeJson(value, fallback) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'object') return value;\n  try { return JSON.parse(value); } catch (e) { return fallback; }\n}\nconst base = $('Capture Prompt Assembly Rules').first().json;\nconst platform = String(base.platform || '').toLowerCase();\nconst rows = $input.all().map(i => i.json).filter(r => r && r.id && !r.error).filter(r => {\n  const name = String(r.platform_name || r.platform || '').toLowerCase();\n  return !platform || !name || name === platform;\n}).slice(0, 5).map(r => ({\n  id: r.id,\n  platform_name: r.platform_name || r.platform || null,\n  platform_type: r.platform_type || null,\n  prompt_syntax: r.prompt_syntax || null,\n  supports_negative_prompt: r.supports_negative_prompt,\n  aspect_ratio_rules: parseMaybeJson(r.aspect_ratio_rules, r.aspect_ratio_rules || null),\n  recommended_prompt_length: r.recommended_prompt_length || null,\n  parameters: parseMaybeJson(r.parameters, r.parameters || {}),\n  weaknesses: parseMaybeJson(r.weaknesses, r.weaknesses || []),\n  avoid_terms: parseMaybeJson(r.avoid_terms, r.avoid_terms || []),\n  best_practices: parseMaybeJson(r.best_practices, r.best_practices || null)\n}));\nreturn [{ json: { ...base, platform_rules: rows } }];"
      },
      "id": "3ca3ea9c-9594-43e8-9584-43be712ad85a",
      "name": "Capture Platform Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4736,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "creative_knowledge_blocks",
        "limit": 40,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "id": "117ba0c0-c83f-4c2e-b401-c00fd47eaa12",
      "name": "Load Relevant Creative Knowledge Blocks",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4512,
        -192
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "i9vZO55NnCKQ8f4G",
          "name": "Supabase account 3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "function parseMaybeJson(value, fallback) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (Array.isArray(value) || typeof value === 'object') return value;\n  try { return JSON.parse(value); } catch (e) { return fallback; }\n}\nfunction arr(v){ const x=parseMaybeJson(v,[]); return Array.isArray(x)?x:[]; }\nfunction matchList(list, wanted) {\n  if (!wanted) return true;\n  if (!Array.isArray(list) || list.length === 0) return true;\n  return list.map(x => String(x).toLowerCase()).includes(String(wanted).toLowerCase());\n}\nconst base = $('Capture Platform Rules').first().json;\nconst outputType = String(base.output_type || '').toLowerCase();\nconst platform = String(base.platform || '').toLowerCase();\nconst decisionText = JSON.stringify(base.brief_decisions || []).toLowerCase();\nconst rows = $input.all().map(i => i.json).filter(r => r && r.id && !r.error).filter(r => {\n  const okOutput = matchList(arr(r.compatible_output_types), outputType);\n  const okPlatform = matchList(arr(r.compatible_platforms), platform);\n  const tags = arr(r.tags).map(x => String(x).toLowerCase());\n  const category = String(r.category || '').toLowerCase();\n  const domain = String(r.domain || '').toLowerCase();\n  const semanticHit = tags.some(t => decisionText.includes(t)) || decisionText.includes(category) || decisionText.includes(domain) || tags.length === 0;\n  return okOutput && okPlatform && semanticHit;\n}).slice(0, 12).map(r => ({\n  id: r.id,\n  title: r.title || null,\n  domain: r.domain || null,\n  category: r.category || null,\n  subcategory: r.subcategory || null,\n  definition: r.definition || null,\n  use_when: r.use_when || null,\n  avoid_when: r.avoid_when || null,\n  visual_effect: r.visual_effect || null,\n  physical_description: r.physical_description || null,\n  prompt_fragment: r.prompt_fragment || null,\n  avoid_constraints: r.avoid_constraints || null,\n  failure_risks: r.failure_risks || null,\n  repair_notes: r.repair_notes || null,\n  tags: arr(r.tags),\n  confidence_score: Number(r.confidence_score || 0)\n}));\nreturn [{ json: { ...base, creative_knowledge_blocks: rows } }];"
      },
      "id": "7dc59da7-9ccd-4516-968f-c01d86cf2633",
      "name": "Capture Creative Knowledge Blocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4288,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "advertising_concepts",
        "limit": 15,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "id": "7789174c-b6bf-4025-96b5-1236c8e7a078",
      "name": "Load Relevant Domain Rows",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4064,
        -192
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "i9vZO55NnCKQ8f4G",
          "name": "Supabase account 3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "function safeFirst(name) {\n  try {\n    return $(name).first().json || {};\n  } catch (e) {\n    return {};\n  }\n}\n\nfunction asArray(value) {\n  if (!value) return [];\n  return Array.isArray(value) ? value : [value];\n}\n\nfunction parseMaybeJson(value, fallback) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'object') return value;\n  try {\n    return JSON.parse(value);\n  } catch (e) {\n    return fallback;\n  }\n}\n\nfunction compact(value, max = 1200) {\n  if (value === undefined || value === null) return value;\n  if (typeof value === 'string') return value.length > max ? value.slice(0, max) : value;\n  return value;\n}\n\nfunction normalizeDomainRow(row) {\n  return {\n    id: row.id || null,\n    source_table: row.source_table || 'advertising_concepts',\n    knowledge_block_id: row.knowledge_block_id || null,\n    name: row.name || row.concept_name || row.title || null,\n    slug: row.slug || null,\n    category: row.category || null,\n    subcategory: row.subcategory || null,\n    concept_type: row.concept_type || null,\n    description: compact(row.description, 700),\n    communication_goal: compact(row.communication_goal, 700),\n    product_role: compact(row.product_role, 700),\n    audience_effect: compact(row.audience_effect, 700),\n    visual_metaphor: compact(row.visual_metaphor, 700),\n    message_logic: compact(row.message_logic, 700),\n    layout_logic: compact(row.layout_logic, 700),\n    headline_space_logic: compact(row.headline_space_logic, 500),\n    logo_space_logic: compact(row.logo_space_logic, 500),\n    cta_space_logic: compact(row.cta_space_logic, 500),\n    best_platforms: parseMaybeJson(row.best_platforms, []),\n    prompt_fragment: compact(row.prompt_fragment, 900),\n    failure_risks: parseMaybeJson(row.failure_risks, []),\n    repair_notes: compact(row.repair_notes, 700),\n    tags: parseMaybeJson(row.tags, [])\n  };\n}\n\nconst base = safeFirst('Capture Creative Knowledge Blocks');\n\nconst domainRows = $input.all()\n  .map(i => i.json || {})\n  .filter(r => r && !r.error)\n  .slice(0, 12)\n  .map(normalizeDomainRow);\n\nconst promptRequest = base.prompt_request || {};\nconst normalizedBrief = promptRequest.normalized_brief || {};\n\nconst briefSummary =\n  normalizedBrief.brief_summary ||\n  base.brief_decision_result?.brief_summary ||\n  promptRequest.raw_input ||\n  base.normalizer_result?.raw_input ||\n  '';\n\nconst writer_context = {\n  request: {\n    prompt_request_id: base.prompt_request_id,\n    workspace_id: base.workspace_id,\n    user_id: base.user_id,\n    project_id: base.project_id,\n    output_type: base.output_type,\n    platform: base.platform,\n    raw_input: promptRequest.raw_input || base.normalizer_result?.raw_input || '',\n    normalized_brief: normalizedBrief,\n    detected_language: promptRequest.detected_language || base.normalizer_result?.detected_language || null,\n    brief_summary: briefSummary\n  },\n\n  brief_decisions: base.brief_decisions || [],\n  prompt_templates: base.prompt_templates || [],\n  prompt_writing_rules: base.prompt_writing_rules || [],\n  prompt_assembly_rules: base.prompt_assembly_rules || [],\n  platform_rules: base.platform_rules || [],\n\n  creative_knowledge_blocks: asArray(base.creative_knowledge_blocks).map(k => ({\n    id: k.id,\n    title: k.title,\n    domain: k.domain,\n    category: k.category,\n    definition: compact(k.definition, 700),\n    use_when: compact(k.use_when, 500),\n    avoid_when: compact(k.avoid_when, 500),\n    visual_effect: compact(k.visual_effect, 500),\n    physical_description: compact(k.physical_description, 700),\n    prompt_fragment: compact(k.prompt_fragment, 700),\n    avoid_constraints: compact(k.avoid_constraints, 500),\n    failure_risks: compact(k.failure_risks, 500),\n    repair_notes: compact(k.repair_notes, 500),\n    tags: k.tags || []\n  })),\n\n  domain_rows: domainRows,\n\n  writer_constraints: {\n    generation_layer: 'layer_1_draft',\n    do_not_generate_validation_or_repair: true,\n    do_not_claim_reference_usage_if_absent: true,\n    do_not_claim_product_lock_if_absent: true,\n    use_physical_visual_language: true,\n    separate_positive_negative_parameters_metadata: true,\n    output_type_must_match_request: true,\n    platform_must_match_request: true\n  }\n};\n\nreturn [\n  {\n    json: {\n      ...base,\n      domain_rows: domainRows,\n      writer_context\n    }\n  }\n];"
      },
      "id": "167ceac3-3f5e-4142-9df3-93f6faac9c26",
      "name": "Build Writer Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3840,
        -192
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.writer_context) }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are the Prompt Writer Layer 1 Agent for AI Creative Direction OS.\n\nYour job is to generate the first structured creative prompt draft using ONLY the provided writer_context from database-backed request data, brief decisions, prompt templates, writing rules, assembly rules, platform rules, creative knowledge blocks, and domain rows.\n\nReturn ONLY valid strict JSON. No markdown. No prose. No comments. No extra keys.\n\nRequired JSON schema exactly:\n{\n  \"output_type\": \"string\",\n  \"platform\": \"string or null\",\n  \"prompt_layer\": \"layer_1_draft\",\n  \"positive_prompt\": \"string\",\n  \"negative_prompt\": \"string\",\n  \"platform_parameters\": {},\n  \"creative_direction\": {\n    \"subject\": \"string\",\n    \"scene\": \"string\",\n    \"composition\": \"string\",\n    \"lighting\": \"string\",\n    \"camera\": \"string\",\n    \"color\": \"string\",\n    \"materials\": \"string\",\n    \"styling\": \"string\",\n    \"mood\": \"string\",\n    \"retouching\": \"string\"\n  },\n  \"used_knowledge\": [\n    {\n      \"source_table\": \"creative_knowledge_blocks | prompt_templates | platform_rules | domain_table_name\",\n      \"source_id\": \"uuid or null\",\n      \"title\": \"string\",\n      \"usage\": \"string\"\n    }\n  ],\n  \"missing_or_weak_points\": [],\n  \"validation_notes_for_next_layer\": []\n}\n\nWriting rules:\n- Use physical visual language: light direction, material response, lens/camera feel, composition geometry, foreground/background, texture, contrast, shadow behavior, product readability, motion if video.\n- Avoid vague adjectives only. Make visual meaning concrete.\n- Do not mention internal database table names in the final user-facing prompt text.\n- Do not invent product details not provided. If product is generic, keep it generic.\n- If brand/product lock data is absent, do not pretend product lock exists.\n- If reference analysis is absent, do not claim reference usage.\n- Make the prompt rich, production-ready, and specific enough for image/video generation.\n- Separate positive_prompt, negative_prompt, platform_parameters, and metadata.\n- For product advertising prompts, preserve product clarity, product hero presence, label readability, premium lighting, composition, and platform suitability.\n- For social platforms, adapt format and focal hierarchy based on supplied platform_rules when available.\n- Use retrieved knowledge, prompt templates, platform rules, and domain rows intelligently.\n- Do not dump all retrieved knowledge. Select only the most relevant pieces and cite them in used_knowledge.\n- This is layer_1_draft only. Do not validate, repair, score, or create final versions.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -3616,
        -192
      ],
      "id": "b10921c3-18d5-4fcc-a2e4-b576698ada68",
      "name": "Prompt Writer Layer 1 Call"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          },
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -3552,
        32
      ],
      "id": "a9c9d3a7-2e6e-4215-b989-715a29e5d822",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UyGBYvdMSrJClgvz",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function baseInput() { try { return $('Build Writer Context').first().json; } catch (e) { return {}; } }\nfunction deepFindText(value, depth = 0) {\n  if (depth > 6 || value === undefined || value === null) return null;\n  if (typeof value === 'string') return value;\n  if (Array.isArray(value)) {\n    for (const item of value) {\n      const found = deepFindText(item, depth + 1);\n      if (found) return found;\n    }\n    return null;\n  }\n  if (typeof value === 'object') {\n    const candidates = [value.output, value.text, value.content, value.message?.content, value.choices?.[0]?.message?.content, value.data?.choices?.[0]?.message?.content, value.response?.body?.choices?.[0]?.message?.content, value.output?.[0]?.content?.[0]?.text, value.output?.[0]?.content?.[0]?.text?.message];\n    for (const c of candidates) {\n      const found = deepFindText(c, depth + 1);\n      if (found) return found;\n    }\n    return JSON.stringify(value);\n  }\n  return null;\n}\nfunction parseJsonLoose(text) {\n  if (typeof text !== 'string') return null;\n  try { return JSON.parse(text); } catch (e) {}\n  const fenced = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (fenced) { try { return JSON.parse(fenced[1]); } catch (e) {} }\n  const start = text.indexOf('{');\n  const end = text.lastIndexOf('}');\n  if (start >= 0 && end > start) { try { return JSON.parse(text.slice(start, end + 1)); } catch (e) {} }\n  return null;\n}\nfunction asArray(value) { if (!value) return []; return Array.isArray(value) ? value : [value]; }\nfunction str(value) { return value === undefined || value === null ? '' : String(value); }\nconst base = baseInput();\nconst parsed = parseJsonLoose(deepFindText($json));\nconst errors = Array.isArray(base.errors) ? [...base.errors] : [];\nif (!parsed || typeof parsed !== 'object') {\n  return [{ json: { ...base, writer_result_valid: false, writer_result: null, errors: [...new Set([...errors, 'prompt_writer_json_parse_failed'])] } }];\n}\nconst direction = parsed.creative_direction || {};\nconst writer_result = {\n  output_type: str(parsed.output_type || base.output_type),\n  platform: parsed.platform === undefined ? (base.platform || null) : parsed.platform,\n  prompt_layer: parsed.prompt_layer === 'layer_1_draft' ? 'layer_1_draft' : 'layer_1_draft',\n  positive_prompt: str(parsed.positive_prompt),\n  negative_prompt: str(parsed.negative_prompt),\n  platform_parameters: (parsed.platform_parameters && typeof parsed.platform_parameters === 'object') ? parsed.platform_parameters : {},\n  creative_direction: {\n    subject: str(direction.subject),\n    scene: str(direction.scene),\n    composition: str(direction.composition),\n    lighting: str(direction.lighting),\n    camera: str(direction.camera),\n    color: str(direction.color),\n    materials: str(direction.materials),\n    styling: str(direction.styling),\n    mood: str(direction.mood),\n    retouching: str(direction.retouching)\n  },\n  used_knowledge: asArray(parsed.used_knowledge).slice(0, 20).map(k => ({\n    source_table: str(k.source_table || 'creative_knowledge_blocks'),\n    source_id: k.source_id || null,\n    title: str(k.title),\n    usage: str(k.usage)\n  })),\n  missing_or_weak_points: asArray(parsed.missing_or_weak_points).map(String),\n  validation_notes_for_next_layer: asArray(parsed.validation_notes_for_next_layer).map(String)\n};\nif (!writer_result.positive_prompt.trim()) errors.push('missing_positive_prompt');\nif (!writer_result.output_type.trim()) errors.push('missing_output_type');\nconst valid = errors.length === (Array.isArray(base.errors) ? base.errors.length : 0);\nreturn [{ json: { ...base, writer_result, writer_result_valid: valid, errors: [...new Set(errors)] } }];"
      },
      "id": "83a82c6d-70f7-44df-a595-d1d6fab85d02",
      "name": "Parse and Validate Prompt Writer JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3264,
        -192
      ]
    },
    {
      "parameters": {
        "jsCode": "function safeFirst(name) {\n  try {\n    return $(name).first().json || {};\n  } catch (e) {\n    return {};\n  }\n}\n\nfunction asArray(value) {\n  if (!value) return [];\n  return Array.isArray(value) ? value : [value];\n}\n\nfunction isObject(value) {\n  return value !== null && typeof value === 'object' && !Array.isArray(value);\n}\n\nfunction isUuid(value) {\n  if (value === undefined || value === null) return false;\n  const s = String(value).trim();\n  return /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i.test(s);\n}\n\nconst validated = safeFirst('Validate WF-01 Handoff');\nconst loaded = safeFirst('Validate Loaded Prompt Request');\nconst parsed = safeFirst('Parse and Validate Prompt Writer JSON');\n\nlet errors = [];\n\nfor (const source of [\n  validated.errors,\n  loaded.errors,\n  parsed.errors\n]) {\n  if (Array.isArray(source)) {\n    errors.push(...source.filter(Boolean));\n  }\n}\n\nerrors = [...new Set(errors)];\n\nconst writer = parsed.writer_result || {};\n\nconst prompt_request_id =\n  parsed.prompt_request_id ||\n  loaded.prompt_request_id ||\n  validated.prompt_request_id ||\n  loaded.prompt_request?.id ||\n  null;\n\nconst workspace_id =\n  parsed.workspace_id ||\n  loaded.workspace_id ||\n  validated.workspace_id ||\n  loaded.prompt_request?.workspace_id ||\n  null;\n\nconst user_id =\n  parsed.user_id ||\n  loaded.user_id ||\n  validated.user_id ||\n  loaded.prompt_request?.user_id ||\n  null;\n\nconst project_id =\n  parsed.project_id ||\n  loaded.project_id ||\n  validated.project_id ||\n  loaded.prompt_request?.project_id ||\n  null;\n\nconst output_type =\n  writer.output_type ||\n  parsed.output_type ||\n  loaded.output_type ||\n  validated.output_type ||\n  loaded.prompt_request?.output_type ||\n  null;\n\nconst platform =\n  writer.platform ||\n  parsed.platform ||\n  loaded.platform ||\n  validated.platform ||\n  loaded.prompt_request?.platform ||\n  null;\n\nif (!isUuid(prompt_request_id)) {\n  errors.push('missing_or_invalid_prompt_request_id_for_generated_output');\n}\n\nif (!isUuid(workspace_id)) {\n  errors.push('missing_or_invalid_workspace_id_for_generated_output');\n}\n\nif (!isUuid(user_id)) {\n  errors.push('missing_or_invalid_user_id_for_generated_output');\n}\n\nif (!isObject(writer)) {\n  errors.push('missing_writer_result');\n}\n\nif (!String(writer.positive_prompt || '').trim()) {\n  errors.push('missing_positive_prompt');\n}\n\nconst structuredOutput = {\n  generation_layer: 'layer_1_draft',\n  output_type,\n  platform,\n  positive_prompt: writer.positive_prompt || '',\n  negative_prompt: writer.negative_prompt || '',\n  creative_direction: isObject(writer.creative_direction) ? writer.creative_direction : {},\n  missing_or_weak_points: asArray(writer.missing_or_weak_points).map(String),\n  validation_notes_for_next_layer: asArray(writer.validation_notes_for_next_layer).map(String),\n  status: 'draft',\n  writer_context_summary: {\n    prompt_templates_used: asArray(parsed.prompt_templates).length,\n    writing_rules_used: asArray(parsed.prompt_writing_rules).length,\n    assembly_rules_used: asArray(parsed.prompt_assembly_rules).length,\n    platform_rules_used: asArray(parsed.platform_rules).length,\n    knowledge_blocks_used: asArray(writer.used_knowledge).length\n  }\n};\n\nconst generated_output_payload = {\n  prompt_request_id,\n  output_type,\n  final_prompt: writer.positive_prompt || '',\n  avoid_constraints: writer.negative_prompt || '',\n  structured_output: structuredOutput,\n  platform_parameters: isObject(writer.platform_parameters) ? writer.platform_parameters : {},\n  used_knowledge_blocks: asArray(writer.used_knowledge),\n  quality_score: null\n};\n\nreturn [\n  {\n    json: {\n      ...parsed,\n      prompt_request_id,\n      workspace_id,\n      user_id,\n      project_id,\n      output_type,\n      platform,\n      writer_result: writer,\n      generated_output_payload,\n      can_create_generated_output: errors.length === 0,\n      errors: [...new Set(errors)]\n    }\n  }\n];"
      },
      "id": "1559d676-1c04-40f6-adf4-caead2718f2c",
      "name": "Prepare Generated Output Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2816,
        -256
      ]
    },
    {
      "parameters": {
        "tableId": "generated_outputs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "prompt_request_id",
              "fieldValue": "={{ $json.generated_output_payload.prompt_request_id }}"
            },
            {
              "fieldId": "output_type",
              "fieldValue": "={{ $json.generated_output_payload.output_type }}"
            },
            {
              "fieldId": "final_prompt",
              "fieldValue": "={{ $json.generated_output_payload.final_prompt }}"
            },
            {
              "fieldId": "avoid_constraints",
              "fieldValue": "={{ $json.generated_output_payload.avoid_constraints }}"
            },
            {
              "fieldId": "structured_output",
              "fieldValue": "={{ JSON.stringify($json.generated_output_payload.structured_output) }}"
            },
            {
              "fieldId": "platform_parameters",
              "fieldValue": "={{ JSON.stringify($json.generated_output_payload.platform_parameters) }}"
            },
            {
              "fieldId": "used_knowledge_blocks",
              "fieldValue": "={{ JSON.stringify($json.generated_output_payload.used_knowledge_blocks) }}"
            },
            {
              "fieldId": "quality_score",
              "fieldValue": "={{ $json.generated_output_payload.quality_score }}"
            }
          ]
        }
      },
      "id": "0bb04609-99f3-4783-a626-93133a7d3c32",
      "name": "Create Generated Output",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2592,
        -256
      ],
      "credentials": {
        "supabaseApi": {
          "id": "i9vZO55NnCKQ8f4G",
          "name": "Supabase account 3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "062b5adf-e501-4a5e-8977-0730fed6fa54",
              "leftValue": "={{ Boolean($json.id) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9c474ddc-7d0c-4656-99d4-273b7a6d528b",
      "name": "IF Generated Output Created",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2368,
        -272
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "prompt_requests",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Validate WF-01 Handoff').first().json.prompt_request_id }}"
            },
            {
              "keyName": "workspace_id",
              "condition": "eq",
              "keyValue": "={{ $('Validate WF-01 Handoff').first().json.workspace_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "validating"
            }
          ]
        }
      },
      "id": "7ba0465b-e7c0-485f-8110-643d37f04f78",
      "name": "Update Prompt Request To Validating",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2144,
        -336
      ],
      "credentials": {
        "supabaseApi": {
          "id": "i9vZO55NnCKQ8f4G",
          "name": "Supabase account 3"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "function safeFirst(name) {\n  try {\n    return $(name).first().json || {};\n  } catch (e) {\n    return {};\n  }\n}\n\nfunction collectErrors(...sources) {\n  const out = [];\n  for (const source of sources) {\n    if (Array.isArray(source)) {\n      out.push(...source.filter(Boolean));\n    }\n  }\n  return [...new Set(out)];\n}\n\nconst validated = safeFirst('Validate WF-01 Handoff');\nconst loaded = safeFirst('Validate Loaded Prompt Request');\nconst parsed = safeFirst('Parse and Validate Prompt Writer JSON');\nconst prepared = safeFirst('Prepare Generated Output Payload');\nconst created = safeFirst('Create Generated Output');\nconst updated = safeFirst('Update Prompt Request To Validating');\n\nconst base =\n  Object.keys(prepared).length ? prepared :\n  Object.keys(parsed).length ? parsed :\n  Object.keys(loaded).length ? loaded :\n  validated;\n\nlet errors = collectErrors(\n  validated.errors,\n  loaded.errors,\n  parsed.errors,\n  prepared.errors\n);\n\nif (created && created.error) {\n  errors.push(`generated_output_create_failed:${created.error.message || created.error}`);\n}\n\nconst generated_output_id =\n  created && created.id && !created.error\n    ? created.id\n    : null;\n\nif (!generated_output_id) {\n  errors.push('generated_output_id_missing_after_create');\n}\n\nif (generated_output_id && updated && updated.error) {\n  errors.push(`prompt_request_status_update_failed:${updated.error.message || updated.error}`);\n}\n\nerrors = [...new Set(errors)];\n\nconst success = Boolean(generated_output_id) && errors.length === 0;\n\nreturn [\n  {\n    json: {\n      wf10_status: success ? 'generated' : 'failed',\n      prompt_request_id: base.prompt_request_id || validated.prompt_request_id || null,\n      generated_output_id,\n      workspace_id: base.workspace_id || validated.workspace_id || null,\n      user_id: base.user_id || validated.user_id || null,\n      project_id: base.project_id || validated.project_id || null,\n      output_type: base.output_type || validated.output_type || null,\n      platform: base.platform || validated.platform || null,\n      generation_layer: success ? 'layer_1_draft' : null,\n      next_workflow: success ? 'WF-11 Prompt Validation And Improvement Engine' : null,\n      handoff_payload: success ? {\n        prompt_request_id: base.prompt_request_id || validated.prompt_request_id || null,\n        generated_output_id,\n        workspace_id: base.workspace_id || validated.workspace_id || null,\n        user_id: base.user_id || validated.user_id || null,\n        project_id: base.project_id || validated.project_id || null,\n        output_type: base.output_type || validated.output_type || null,\n        platform: base.platform || validated.platform || null,\n        generation_layer: 'layer_1_draft'\n      } : null,\n      errors: success ? [] : errors,\n      debug: {\n        prepared_prompt_request_id: prepared.prompt_request_id || null,\n        generated_output_payload_prompt_request_id: prepared.generated_output_payload?.prompt_request_id || null,\n        create_generated_output_raw: created || null\n      }\n    }\n  }\n];"
      },
      "id": "a35d1180-f976-4fdc-a871-e06a8263e3ef",
      "name": "Build WF-10 Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "const allowedKeys = [\n  'wf10_status',\n  'prompt_request_id',\n  'generated_output_id',\n  'workspace_id',\n  'user_id',\n  'project_id',\n  'output_type',\n  'platform',\n  'generation_layer',\n  'next_workflow',\n  'handoff_payload',\n  'errors',\n  'debug'\n];\n\nconst out = {};\n\nfor (const key of allowedKeys) {\n  out[key] = $json[key] ?? null;\n}\n\nif (!Array.isArray(out.errors)) {\n  out.errors = [];\n}\n\nreturn [\n  {\n    json: out\n  }\n];"
      },
      "id": "6fe116f5-fde9-46d9-91dd-ee4761772dec",
      "name": "Return WF-10 Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        -64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "73decabc-ac5d-49c5-9ccd-bd7fd20d6f3e",
              "leftValue": "={{ $json.writer_result_valid && $json.errors.length === 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "382ed955-685e-4372-acf3-9fb601c6986c",
      "name": "IF Writer Result Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3040,
        -192
      ]
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "wf01_status": "created",
          "prompt_request_id": "bf431419-f738-4861-b467-7f0fa0be71ef",
          "workspace_id": "22222222-2222-4222-8222-222222222222",
          "user_id": "11111111-1111-4111-8111-111111111111",
          "project_id": null,
          "conversation_session_id": "aaa66bb9-7a85-4341-b26c-a3079d8e7eeb",
          "source_user_message_id": "1ce8f682-3421-4382-9d82-36d25ac9a79b",
          "output_type": "product_ad_prompt",
          "platform": "instagram",
          "prompt_request_status": "ready_for_generation",
          "brief_decisions_created": 0,
          "next_workflow": "WF-10 Prompt Generation Engine",
          "handoff_payload": {
            "prompt_request_id": "bf431419-f738-4861-b467-7f0fa0be71ef",
            "workspace_id": "22222222-2222-4222-8222-222222222222",
            "user_id": "11111111-1111-4111-8111-111111111111",
            "project_id": null,
            "output_type": "product_ad_prompt",
            "platform": "instagram"
          },
          "errors": []
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate WF-01 Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate WF-01 Handoff": {
      "main": [
        [
          {
            "node": "IF Valid Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid Handoff": {
      "main": [
        [
          {
            "node": "Load Prompt Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build WF-10 Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Prompt Request": {
      "main": [
        [
          {
            "node": "Validate Loaded Prompt Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Loaded Prompt Request": {
      "main": [
        [
          {
            "node": "IF Loaded Prompt Request Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Loaded Prompt Request Valid": {
      "main": [
        [
          {
            "node": "Load Brief Decisions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build WF-10 Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Brief Decisions": {
      "main": [
        [
          {
            "node": "Build Brief Decision Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Brief Decision Context": {
      "main": [
        [
          {
            "node": "Load Active Prompt Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Active Prompt Templates": {
      "main": [
        [
          {
            "node": "Capture Prompt Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Prompt Templates": {
      "main": [
        [
          {
            "node": "Load Active Prompt Writing Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Active Prompt Writing Rules": {
      "main": [
        [
          {
            "node": "Capture Prompt Writing Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Prompt Writing Rules": {
      "main": [
        [
          {
            "node": "Load Active Prompt Assembly Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Active Prompt Assembly Rules": {
      "main": [
        [
          {
            "node": "Capture Prompt Assembly Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Prompt Assembly Rules": {
      "main": [
        [
          {
            "node": "Load Active Platform Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Active Platform Rules": {
      "main": [
        [
          {
            "node": "Capture Platform Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Platform Rules": {
      "main": [
        [
          {
            "node": "Load Relevant Creative Knowledge Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Relevant Creative Knowledge Blocks": {
      "main": [
        [
          {
            "node": "Capture Creative Knowledge Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Creative Knowledge Blocks": {
      "main": [
        [
          {
            "node": "Load Relevant Domain Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Relevant Domain Rows": {
      "main": [
        [
          {
            "node": "Build Writer Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Writer Context": {
      "main": [
        [
          {
            "node": "Prompt Writer Layer 1 Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Writer Layer 1 Call": {
      "main": [
        [
          {
            "node": "Parse and Validate Prompt Writer JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Validate Prompt Writer JSON": {
      "main": [
        [
          {
            "node": "IF Writer Result Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Generated Output Payload": {
      "main": [
        [
          {
            "node": "Create Generated Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Generated Output": {
      "main": [
        [
          {
            "node": "IF Generated Output Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Generated Output Created": {
      "main": [
        [
          {
            "node": "Update Prompt Request To Validating",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build WF-10 Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Prompt Request To Validating": {
      "main": [
        [
          {
            "node": "Build WF-10 Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build WF-10 Output": {
      "main": [
        [
          {
            "node": "Return WF-10 Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt Writer Layer 1 Call",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "IF Writer Result Valid": {
      "main": [
        [
          {
            "node": "Prepare Generated Output Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build WF-10 Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "2f73e6e0-9303-4a0e-a7cf-333e1bdebc3c",
  "meta": {
    "instanceId": "078ebb9a69bf38cf4453fd8eeb25933e0bb708831adc9bbc920c51805e3f39df"
  },
  "id": "3wrT9YpF0X4ulLrX",
  "tags": []
}
